.follow-info {
  border-top: 1px solid #f0f0f0;
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
}
.follow-info a.counter {
  font-size: 32px;
  color: #5CB85C;
}
.follow-info a.text {
  color: #999;
}
.follow-info a {
  display: block;
  text-decoration: none;
}

.user-info li {
  list-style: none;
  line-height: 2em;
}

.nav-user {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav > li {
  position: relative;
  display: block;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.media-list {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}
.media-list .media-body .media-heading {
  font-size: 12px;
  color: #999;
  line-height: 1.5em;
}
.media-list .media-action {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}

.panel .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.panel ul {
  padding: 0;
  margin-bottom: 0;
}
.avatar-list {
  margin: -8px;
}
.avatar-list li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}